<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpEndpoint">
                    <security mode="TransportCredentialOnly">
                        <transport clientCredentialType="Basic"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://arulappan/QTMWcfDealService/SwapDealService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndpoint" contract="ServiceReference1.ISwapDealService" name="BasicHttpEndpoint"/>
        </client>
    </system.serviceModel>
</configuration>
